@model TodoList.TodoItem
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add item form</title>
    <link href="StyleIndex.css" rel="stylesheet" />
</head>
<body>

<h1>Add Todo item</h1>
@using (Html.BeginForm("AddItem", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.ItemName, new {placeholder = "Item name"})
    @Html.TextBoxFor(m => m.ItemDetails, new {placeholder = "Details"})
    <input type="submit" value="Save"/>
    @Html.ActionLink("Cancel", "Index", "Home")
}
</body>
</html>