@using TodoList
@model TodoItem
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo details</title>
    <link href="StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div><span>Item name:</span><span>@Model?.ItemName</span></div>
    <div><span>Item details:</span><span>@Model?.ItemDetails</span></div>
    <div>
        <span>Item complete state:</span>
        @if (!Model.IsItemComplete)
        {
            <span>❌</span>
        }
        else
        {
            <span>✔️</span>
        }
    </div>
    @using (Html.BeginForm("DeleteItem", "Home", FormMethod.Post))
    {
        <input name="id" value="@Model.ItemId" type="hidden" />
        <input type="submit" value="Delete Item" />
    }
    @using (Html.BeginForm("CompleteItem", "Home", FormMethod.Post))
    {
        <input name="id" value="@Model.ItemId" type="hidden" />

        @if (!Model.IsItemComplete)
        {
            <input type="submit" value="Complete" />
        }
        
    }
    @Html.ActionLink("Cancel", "Index", "Home")
</body>
</html>