@using TodoList
@model IEnumerable<TodoItem>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo list</title>
    <link href="StyleIndex.css" rel="stylesheet" />
</head>
<body>
<h1>Todo</h1>
<div class="listItems">
    <ol>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.ItemName + " | " + item.ItemDetails, "Details", new {id = item.ItemId})
                @if (!item.IsItemComplete)
                {
                    <span>❌</span>
                }
                else
                {
                    <span>✔️</span>
                }
            </li>
        }
    </ol>
</div>
<div class="addItemButton">
    @Html.ActionLink("Add item", "AddItem")
</div>
</body>
</html>